.itsa-notrans, .itsa-notrans2,
.itsa-notrans:before, .itsa-notrans2:before,
.itsa-notrans:after, .itsa-notrans2:after {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: all 0s !important; /* opera doesn't support none */
    transition: none !important;
}

.itsa-no-overflow {
    overflow: hidden !important;
}

.itsa-invisible {
    position: absolute !important;
}

.itsa-invisible-relative {
    position: relative !important;
}

.itsa-invisible,
.itsa-invisible-relative {
    visibility: hidden !important;
    z-index: -1;
}

.itsa-invisible *,
.itsa-invisible-relative * {
    visibility: hidden !important;
}

.itsa-transparent {
    opacity: 0;
}

.itsa-hidden {
    visibility: hidden !important;
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
}

.itsa-block {
    display: block !important;
}

.itsa-borderbox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}