.itsa-notrans, .itsa-notrans2, .itsa-notrans3,
.itsa-notrans:before, .itsa-notrans2:before, .itsa-notrans3:before,
.itsa-notrans:after, .itsa-notrans2:after, .itsa-notrans3:after {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: all 0s !important; /* opera doesn't support none */
    transition: none !important;
}

.itsa-invisible {
    visibility: hidden !important;
    position: absolute !important;
    z-index: -1;
}

.itsa-invisible * {
    visibility: hidden !important;
}

.itsa-transparent {
    opacity: 0;
}

.itsa-hidden {
    visibility: hidden !important;
    position: absolute !important;
    left: -9999px;
    top: -9999px;
}

.itsa-block {
    display: block !important;
}

.itsa-borderbox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}